textarea {
  height: 150px; /* Setzen Sie die gewünschte Höhe */
  resize: vertical; /* Ermöglicht dem Benutzer, das Textfeld nur vertikal zu vergrößern/verkleinern */
  overflow-y: auto; /* Ermöglicht das Scrollen, wenn der Inhalt die maximale Höhe überschreitet */
}

.task-card {
  height: 250px; /* Oder eine andere geeignete Höhe, die Sie bevorzugen */
  overflow: hidden; /* Verbirgt den überschüssigen Inhalt */
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

/* Design nur für die "Hinzufügen"-Karte */
.add-task-card {
  justify-content: center;  /* Zentriert den Inhalt vertikal */
  align-items: center;      /* Zentriert den Inhalt horizontal */
}

.add-task-card .card-body {
  display: flex;
  justify-content: center;  /* Zentriert den Inhalt vertikal */
  align-items: center;      /* Zentriert den Inhalt horizontal */
}

.task-card .card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Verteilt den Inhalt gleichmäßig im verfügbaren Platz */
}

.btn-add-task {
  background-color: #4CAF50;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.btn-add-task:hover {
  background-color: #45a049;
}

.faded-task {
  opacity: 0.5;
}

.overdue-icon {
  position: absolute;
  bottom: 10px;  /* Dies kann angepasst werden, um die genaue Position zu bestimmen */
  right: 10px;
}

.task-checkbox-icon {
  position: absolute;
  top: 10px;  /* Dies kann angepasst werden, um die genaue Position zu bestimmen */
  right: 10px;
  cursor: pointer;  /* Damit es wie ein klickbares Element aussieht */
}

