<div class="container mt-5">
  <h1 class="mb-4 text-center">TaskManager</h1>

  <!-- Grid system for cards -->
  <div class="row">

    <!-- Special Add Task Card -->
    <div class="col-md-4 mb-4">
      <div class="card task-card add-task-card text-center" (click)="showModal=true">
        <div class="card-body">
          <button class="btn-add-task"><i class="fas fa-plus"></i></button>
        </div>
      </div>
    </div>

    <!-- Task Cards -->
    <!-- Task Cards -->
    <div class="col-md-4 mb-4" *ngFor="let task of tasks; let i = index">
      <div class="card task-card" [ngClass]="{'faded-task': task.completed}" (click)="editTask(i)">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h5 class="card-title">{{ task.name | slice:0:25 }}{{ task.name.length > 25 ? '...' : '' }}</h5>
            <i *ngIf="isTaskOverdue(task)" class="fas fa-exclamation-circle text-danger overdue-icon" title="Fälligkeitsdatum überschritten!"></i>
            <i *ngIf="!task.completed" class="far fa-circle task-checkbox-icon" (click)="toggleTaskStatus(task); $event.stopPropagation();" title="Task erledigt"></i>
            <i *ngIf="task.completed" class="fas fa-check-circle text-success task-checkbox-icon" (click)="toggleTaskStatus(task); $event.stopPropagation();" title="Task erledigt"></i>
          </div>
          <p><strong>Beschreibung:</strong> {{ task.description | slice:0:100 }}{{ task.description.length > 100 ? '...' : '' }}</p>
          <p *ngIf="task.dueDate"><strong>Fällig bis:</strong> {{ task.dueDate | date:'d. MMMM yyyy' }}</p>
        </div>
      </div>
    </div>

  </div>

  <!-- Modal for adding/editing tasks -->
  <div class="modal" [class.show]="showModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Neuer Task</h5>
          <button type="button" class="close" (click)="closeModal()">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label><strong>Titel:</strong></label>
          <input type="text" class="form-control mb-3" placeholder="Titel" [(ngModel)]="newTaskName">
          <label><strong>Beschreibung:</strong></label>
          <textarea class="form-control" placeholder="Beschreibung" [(ngModel)]="newTaskDescription"></textarea>
          <label><strong>Fälligkeitsdatum:</strong></label>
          <input type="date" class="form-control mb-3" [(ngModel)]="newTaskDueDate">
        </div>
        <div class="modal-footer">
          <button *ngIf="editingIndex !== null" type="button" class="btn btn-danger" (click)="deleteTask(tasks[editingIndex]); closeModal();">Löschen</button>
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Schließen</button>
          <button type="button" class="btn btn-primary" (click)="addNewTask()">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>
