@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
}

.app-header {
  background-color: #343a40;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  font-family: 'Dancing Script', cursive;
  text-align: center;
}

.app-header .navbar-brand {
  font-weight: 700;
  font-size: 2.5rem;
  color: #f8f9fa;
  display: inline-block;
  margin: 0 auto;
}

.app-footer {
  background-color: #343a40;
  box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
  font-family: 'Dancing Script', cursive;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.app-footer p {
  margin: 0;
}

.app-footer a {
  font-size: 1.5rem;
}


.task-board-title {
  font-family: 'Dancing Script', cursive;
}

.completed-task {
  text-decoration: line-through;
  color: #aaa;
}

.task-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.task-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.add-task-card {
  background-color: #f4f4f4;
  border: 2px dashed #ddd;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal:not(.show) {
  display: none !important;
}

.modal-dialog {
  max-width: 500px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.modal-header, .modal-footer {
  padding: 15px;
  border-bottom: 1px solid #eee;
}

.modal-footer {
  border-top: none;
  justify-content: flex-end;
}

.modal-body {
  padding: 15px;
}

.close {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  line-height: 1;
  cursor: pointer;
}

.show {
  display: block;
}

.tag-icon {
  margin-right: 10px;
  font-size: 20px;
  vertical-align: middle;
}
